* {
  font-family: 'Raleway';
}

body {
  /*
   * 'Concrete Seamless' by Anchour
   * https://www.anchour.com/
   * Downloaded from http://subtlepatterns.com/ 
   * Under https://creativecommons.org/licenses/by-sa/3.0/
   */
  background: url('../images/concrete_seamless.png');
}

a.links:hover {
  color: #455a64;
}

.card-header {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.card-body {
  font-size: 14px;
  min-height: 50px;
}

.card-tags {
  margin-bottom: 15px;
}

.card-tags > .chip {
  color: #ffffff;
  background: #3e2723;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  margin-bottom: 2px;
  cursor: pointer;
}

.card-footer {
  font-size: 13px;
}
