{{define "about"}}
{{template "head"}}

<div class="row">
  <div class="col s12 l4 offset-l4">
    <div class="card-panel">
      <div class="card-header">
        <h5 class="blue-grey-text text-darken-3">About</h5>
      </div>
      <div class="card-body">
        <p>All of us like creating applications and working on our projects.
        In a bid to increase open source contributions I thought of providing
        a platform to share our projects that we work on.</p>

        <h6><u>How to add your project</u></h6>
        <p>Sharing project is fairly easy, and takes some inspiration from the model
        implemented by <a href="https://hackercouch.com/about/" target="_blank">hackercouch</a>.<br>
        Instead of filling a form, you just need to fork repo, update a file
        and submit a Pull Request.<br>
        Since many of us have a working knowledge of GitHub, this seemed to me as a viable
        model.</p>

        <p>Proper instructions on adding a project can be found at the GitHub 
        <a href="https://github.com/shivamMg/showcase-projects/">Repo</a>.</p>
      </div>
    </div>
  </div>
</div>

{{template "foot"}}
{{end}}