{{define "foot"}}
    </main>

    <footer class="page-footer" style="padding:0;">
      <div class="footer-copyright brown darken-4">
        <div class="container">
          <div class="row">
            <div class="col s12">
              Maintained by Developers at <a href="https://dev-s.slack.com">dev-s.slack.com</a> &nbsp;&middot;&nbsp;
              <a href="https://slackipy-codetogether.rhcloud.com/">Join us</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
  </body>
</html>
{{end}}