{{define "head"}}
<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Showcase Projects</title>
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="/assets/css/sheet.css">
    </head>

    <body>
      <div>
      <!-- container -->
        <div class="row">
          <div class="col s12">
            <h4 class="blue-grey-text text-darken-4">Showcase Projects</h4>
          </div>
        </div>
{{end}}