{{define "index"}}
{{template "head"}}

<div class="row">
{{range .}}
  <!-- card -->
  <div class="col s12 m6 l3">
    <div class="card-panel">
      <div class="card-header">
        <a href="{{.GithubLink}}" title="View Project" class="links">{{.Name}}</a>
        <div class="right">
        {{if .WebsiteLink}}
          <a href="{{.WebsiteLink}}" title="Website">
            <img src="assets/images/web.svg" alt="Website">
          </a>
        {{end}}
        </div>
      </div>
      <div class="card-body">
        {{.Description}}
      </div>
      <div class="card-tags">
      {{range .Tags}}
        <div class="chip hoverable" title="Select all {{.}} tags">{{.}}</div>
      {{end}}
      </div>
      <div class="card-footer">
        by <a href="{{.CreatorLink}}" class="links">{{.Creator}}</a>
      </div>
    </div>
  </div>
  <!-- /card -->
{{end}}
</div>

{{template "foot"}}
{{end}}
